<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cuerpo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".mainscreens.foodtrack.FoodListActivity"></activity>
        <activity android:name=".mainscreens.exercisetrack.Pedometer" />
        <activity android:name=".mainscreens.exercisetrack.ExerciseActivity" />
        <activity android:name=".mainscreens.TrackActivity" />
        <activity android:name=".initialscreens.RequirementActivity" />
        <activity android:name=".initialscreens.LoadingActivity" />
        <activity android:name=".initialscreens.SignUpActivity" />
        <activity android:name=".initialscreens.SlideActivity3" />
        <activity android:name=".initialscreens.SlideActivity2" />
        <activity android:name=".initialscreens.SlideActivity1" />
        <activity android:name=".initialscreens.GetStartedActivity" />
        <activity android:name=".initialscreens.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>